* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 1em;
}

.card {
    max-width: 28rem;
    background-color: white;
    border-radius: 1em;
    text-align: center;
    margin: auto;
    /* box-shadow: 0 8px hsla(224, 23%, 55%, 0.007); */
}
#mainImg {
    border-radius: 1em 1em 0 0;
    max-width: 100%;
}
.content {
    padding: 1em 10% 2em 10%;
}
h1 {
    font-size: 25px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
p {
    font-size: 16px;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}
.pricing {
    background: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 5%;
    border-radius: 0.5em;
    width: 100%;
    gap: 5%;
}
.pricing a {
    font-weight: 700;
    justify-self: flex-end;
    transition: color 0.2s linear;
    transition: text-decoration 0.2s linear;
}
.pricing a:hover {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.719);
}
.pricing p {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin: 0;
}
.pricing span {
    color: hsl(224, 23%, 55%);
}
.vertical {
    flex-grow: 1;
    text-align: left;
}

button {
    background-color: hsl(245, 75%, 52%);
    padding: 1em 0;
    display: block;
    width: 100%;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    text-align: center;
    margin: auto;
    margin-block: 2em;
    transition: background-color 0.2s linear;
}
button:hover {
    background-color: hsla(245, 75%, 52%, 0.719);
}
.cancel {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;

    transition: color 0.2s linear;
}
.cancel:hover {
    color: black;
}
.attribution {
    padding-top: 1em;
}
@media screen and (max-width: 470px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
        background-size: 100%;
        background-position: top left;
        background-repeat: no-repeat;
    }
}
